<h1>Listing process_units</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @process_units.each do |process_unit| %>
  <tr>
    <td><%= link_to 'Show', process_unit %></td>
    <td><%= link_to 'Edit', edit_process_unit_path(process_unit) %></td>
    <td><%= link_to 'Destroy', process_unit, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Process unit', new_process_unit_path %>
